*.obj
*.map
MARTY_ROM
CD/TBIOS.SYS
CD/TBIOS.BIN
CD/IO.SYS
*.o
*.a
*.EXP
*.elf
CD/*.EXP
common/*.o
src/*.o
*.iso
BOOT.BIN
mygame_shared
mygame_shared.bin
src/boot/*.s
src/boot/payload_len.h
CD/SYSTEM.BIN
